body{
  background-color: rgb(255, 255, 255);

}
.App {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  /* font-family: 'Titillium Web', sans-serif; */
}

#welcome {
  font-family: 'Source Sans Pro', sans-serif;  
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 15vh;
  width: 60vw;
  height: 500px;
  padding-top: 120px;
  padding-right: 180px;
  color: black; 
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#welcome h1{
  font-size: 3rem;
}
#welcome input{
  border:none;
  border-color: rgb(126, 126, 126);
  border-width: 1px;
  border-style: solid;
  margin-top: 30px;
  margin-right: 20px;
  width: 30%;
  height: 35px;
  border-radius: 10px;
  background-color: #f0f0f0;
}
#welcome button{
  border: none;

  padding: 10px;
  border-radius: 10px;

}
#bruno{
  position: absolute;
  top: 50px;
  right: 5vw;

}

.pokemons{
  padding: 20px;
}
.pokemons h1{
  font-size: 3.0rem;
}
.pokemons h3{
  font-size: 1.8rem;
}
.pokemons span{
  line-height: 1.5rem;
}
.pokemons form {
  margin-top: 15px;
}
.pokemons input{
  border: none;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  width: 20%;
  margin-right: 15px;
  margin-left: 15px;
}
.pokemons select{
  border: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
}
.pokemons button{
  border: none;
  padding: 10px;
  border-radius: 8px;
  /* border: 1px solid black; */

}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.pokeList{
  width: 100%;
  display: grid;
  color: white;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 250px 250px;
    /* 3 columnas de 100px c/u */
    /* y 3 filas de 100px c/u */

    gap: .1rem;
    /* Se aplica un padding entre los elementos */

    grid-auto-rows: 300px;
    /* Todos los que se vayan agregando se estilan automáticamente */
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;

}

/*PokeCards of map*/
.pokeCard{
  text-align: left;
  padding: 20px;
  width: 15vw;
  height: 230px;
  background-color: blue;
  border-radius: 30px;
}
.pokeCard a{
  color: white;
}
.pokeCard .pokeball{
  width: 120px;
  position: relative;
  left: 90px;
  top: -80px;
  opacity: 0.5;
  
}
.pokeCard .sprite{
  width: 120px;
  margin-bottom: -120px;
  position: relative;
  left: 90px;
  top: 20px;
  z-index: 1;
  
}

/*Colors of pokeTypes*/
.water{background-color: rgb(0, 153, 255);}
.fire{background-color: rgb(255, 102, 0);}
.bug{background-color: rgb(139, 177, 2);}
.grass{background-color: rgb(2, 133, 19);}
.normal{background-color: rgb(201, 201, 201);}
.dragon{background-color: rgb(59, 0, 155);}
.electric{background-color: rgb(227, 231, 0);color: black;}
.fairy{background-color: rgb(255, 44, 160);}
.fighting{background-color: rgb(155, 0, 0);}
.ghost{background-color: rgb(65, 0, 119);}
.ground{background-color: rgb(207, 187, 0);}
.ice{background-color: rgb(0, 245, 245); color: black;}
.poison{background-color: rgb(118, 0, 214);}
.psychic{background-color: rgb(122, 1, 126);}
.rock{background-color: rgb(172, 170, 82);}
.steel{background: linear-gradient(0.25turn, #c9c9c9, #707070);}
.dark{background:#2c2c2c}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
